body {
	background-color: cornsilk;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
}

p {
	font-size: 2ch;
}

a {
	font-size: 1.5em;
	text-decoration: none;
	background-color: hsl(0, 0%, 85%);
  border: 3px solid hsl(0, 0%, 66%);
	padding: 1ch;
	margin: 0.25em;
}

a:hover {
	text-decoration: underline;
}

div {
	margin: 2em;
}