body {
	background-color: hsl(35, 55%, 85%);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	/* overflow: hidden; */
}

.bad {
	background-color: lightpink;
}

.neutral {
	background-color: lightyellow;
}

.good {
	background-color: lightgreen;
}

p {
	font-size: 2ch;
}

button {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	background-color: hsl(0, 0%, 85%);
  border: 3px solid hsl(0, 0%, 66%);
	padding: 1ch;
	margin: 0.25em;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
}

img {
	max-width: 45em;
	max-height: 30em;
	min-width: 28em;
}